@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #ffffff;
        --color-text-muted: #FFB5B5;
        --color-text-inverted: #5d6fe0;
        --color-fill: #000B49;
        --color-button-accent: #9B0000;
        --color-button-accent-hover: #ffffff;
        --color-button-muted: #FF7272;
    }
}